@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Other global styles... */

/* Force transparency for the Next.js Image wrapper */
.cpn-illustration-no-bg {
  /* This targets the div or span that next/image wraps the <img> with */
  background-color: transparent !important; 
}

/* If the above doesn't work, try targeting the img directly */
.cpn-illustration-no-bg > img {
  background-color: transparent !important;
}